## Preprocessing

In [86]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [87]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [88]:
# Determine the number of unique values in each column.

application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [89]:
# Look at APPLICATION_TYPE value counts for binning

app_type_count_df = application_df['APPLICATION_TYPE'].value_counts()
app_type_count_df

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [90]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count_df[app_type_count_df < 500].index)



# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [91]:
# Look at CLASSIFICATION value counts for binning
classification = application_df['CLASSIFICATION'].value_counts()
classification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [92]:
# You may find it helpful to look at CLASSIFICATION value counts >1

class_value = classification.loc[classification > 1]
class_value.head()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: count, dtype: int64

In [93]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_value[class_value < 1000].index)



# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: count, dtype: int64

In [94]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)

In [95]:
# Split our preprocessed data into our features and target arrays

X = dummies_df.drop(['IS_SUCCESSFUL'], axis=1).values
y = dummies_df['IS_SUCCESSFUL'].values



# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [96]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [144]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

input_features = len(X_train_scaled[0])


nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=32, activation="relu", input_dim=input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=32, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Fourth hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="sigmoid"))

# Fifth hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="sigmoid"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_66 (Dense)            (None, 32)                2240

 dense_67 (Dense)            (None, 32)                1056

 dense_68 (Dense)            (None, 16)                528

 dense_69 (Dense)            (None, 16)                272

 dense_70 (Dense)            (None, 8)                 136

 dense_71 (Dense)            (None, 1)                 9

=================================================================
Total params: 4241 (16.57 KB)
Trainable params: 4241 (16.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [145]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [146]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5975 - accuracy: 0.7037
Epoch 2/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5625 - accuracy: 0.7296
Epoch 3/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5573 - accuracy: 0.7310
Epoch 4/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7308
Epoch 5/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7320
Epoch 6/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5509 - accuracy: 0.7319
Epoch 7/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7332
Epoch 8/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7320
Epoch 9/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7333
Epoch 10/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7333
Epoch 11/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7331
Epoch 12/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7350
Epoch 13/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7341
Epoch 14/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7343
Epoch 15/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7359
Epoch 16/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7347
Epoch 17/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7359
Epoch 18/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7349
Epoch 19/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7348
Epoch 20/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7360

In [147]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5492 - accuracy: 0.7306 - 409ms/epoch - 2ms/step
Loss: 0.5492421388626099, Accuracy: 0.7306122183799744

In [148]:
# Export our model to HDF5 file
file = 'C:/Users/jmced/Desktop/deep-learning-challenge/Starter_Code/AlphabetSoupCharity_optimization.h5'

nn_model.save(file)

C:\Users\jmced\anaconda3\Lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(